*,
html,
body {
  margin: 0;
  padding: 0;
}
* a,
html a,
body a {
  text-decoration: none;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
header {
  height: 64px;
}
header .nav-wrapper {
  position: fixed;
  padding: 0 50px 0 50px;
  z-index: 100;
}
header .nav-wrapper .menu li a {
  font-family: "Defoult";
  font-size: 18px;
  font-weight: 600;
}
header .nav-wrapper .menu li:hover {
  background-color: #424242;
}
header .nav-wrapper .dropdown-content li a {
  font-size: 14px;
}
header .nav-wrapper .dropdown-content li:hover {
  background-color: #f0f0f0;
}
header .nav-wrapper .dropdown-content li:hover a:hover {
  background-color: #f0f0f0;
}

footer {
  margin: 0 !important;
  padding-top: 20px !important;
}
footer .container {
  margin: 20px auto 30px auto;
}
footer .container .row {
  margin: 0 !important;
  padding: 0 !important;
}
footer .container .row .left .white-text {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
footer .container .row .left .social_networks {
  display: flex;
}
footer .container .row .left .social_networks .social_link_img {
  margin-right: 15px;
}
footer .container .row .right .white-text {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
}
footer .container .row .right p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
.landing_wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("among-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}
.landing_wrapper .landing_blackout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing_wrapper .landing_blackout .landing_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Defoult";
}
.landing_wrapper .landing_blackout .landing_content .landing_content_name {
  margin: 10px 0;
  font-size: 100px;
  font-weight: 800;
  color: #fff;
}
.landing_wrapper .landing_blackout .landing_content .landing_content_description {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.landing_wrapper .landing_blackout .landing_content .landing_button {
  width: 150px;
  height: 60px;
  margin: 75px 0;
  background-color: #ff8080;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  z-index: 0;
}
.landing_wrapper .landing_blackout .landing_content .landing_button:hover {
  background-color: #ff3d3d;
}
.landing_wrapper .landing_blackout .landing_content .landing_arrow {
  position: absolute;
  bottom: 0;
}

.carousel {
  max-width: 70%;
  height: 100%;
  margin: 100px auto;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
.games_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.games_wrapper .addGame_container {
  width: 500px;
  height: auto;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  z-index: 1;
}
.games_wrapper .addGame_container h3 {
  margin: 0;
  font-family: "Defoult";
  font-weight: 600;
}
.games_wrapper .addGame_container .form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.games_wrapper .addGame_container .form_wrapper form .row {
  margin: 0;
  height: 90px;
}
.games_wrapper .addGame_container .form_wrapper form .row .input-field {
  margin: 0;
  font-family: "Defoult";
}
.games_wrapper .addGame_container .form_wrapper form .row .input-field label {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.games_wrapper .addGame_container .form_wrapper form .btn {
  background-color: #ff8080;
  border-radius: 5px;
  font-family: "Defoult";
  font-size: 16px;
  font-weight: 600;
}
.games_wrapper .addGame_container .form_wrapper form .btn:hover {
  background-color: #ff3d3d;
}
.games_wrapper .games {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.games_wrapper .games .row {
  margin: 0;
}
.games_wrapper .games .row .col .game_container {
  margin: 50px 20px;
  z-index: 0;
}
.games_wrapper .games .row .col .game_container .card-image {
  max-height: 100%;
  min-height: 250px;
}
.games_wrapper .games .row .col .game_container .card-reveal {
  font-family: "Defoult";
}
.games_wrapper .games .row .col .game_container .card-reveal .card-title {
  font-size: 30px;
  font-weight: 600;
}
.games_wrapper .games .row .col .game_container .card-reveal p {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
.games_wrapper .games .row .col .game_container .card-reveal p span {
  font-weight: 500;
}
.games_wrapper .games .row .col .game_container .card-reveal p .ageLimit {
  color: red;
}
.games_wrapper .games .row .col .game_container .card-action {
  padding: 0;
}
.games_wrapper .games .row .col .game_container .card-action .row {
  margin: 0;
}
.games_wrapper .games .row .col .game_container .card-action .row .col {
  padding: 0;
}
.games_wrapper .games .row .col .game_container .card-action .row .col .card-action_btn {
  height: 50px;
  width: 100%;
  margin: 0;
  color: #999999;
  background-color: #FFF;
  box-shadow: 0 0 0 transparent !important;
  font-family: "Defoult";
  font-weight: 600;
}
.games_wrapper .games .row .col .game_container .card-action .row .col .card-action_btn:hover {
  background-color: #fafafa;
  color: #212121;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
.shop_wrapper {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.shop_wrapper .sorting_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.shop_wrapper .sorting_wrapper .sort_btn {
  background-color: #ff8080;
  border-radius: 5px;
  font-family: "Defoult";
  font-size: 16px;
  font-weight: 600;
}
.shop_wrapper .sorting_wrapper .sort_btn:hover {
  background-color: #ff3d3d;
}
.shop_wrapper .row {
  margin: 0;
}
.shop_wrapper .row .col .game_wrapper {
  margin: 50px 20px;
  z-index: 0;
}
.shop_wrapper .row .col .game_wrapper .card-content {
  height: 150px;
  font-family: "Defoult";
}
.shop_wrapper .row .col .game_wrapper .card-content .card-title {
  font-size: 30px;
  font-weight: 600;
}
.shop_wrapper .row .col .game_wrapper .card-content .ganre {
  font-size: 16px;
}
.shop_wrapper .row .col .game_wrapper .card-content .ageLimit {
  font-size: 16px;
  color: red;
}
.shop_wrapper .row .col .game_wrapper .card-reveal {
  font-family: "Defoult";
}
.shop_wrapper .row .col .game_wrapper .card-reveal .card-title {
  font-size: 30px;
  font-weight: 600;
}
.shop_wrapper .row .col .game_wrapper .card-reveal p {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
.shop_wrapper .row .col .game_wrapper .card-reveal p span {
  font-weight: 500;
}
.shop_wrapper .row .col .game_wrapper .card-action {
  padding: 0;
}
.shop_wrapper .row .col .game_wrapper .card-action .row {
  margin: 0;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .col {
  padding: 0;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .col .card-action_btn {
  height: 50px;
  width: 100%;
  line-height: 1rem;
  margin: 0;
  color: #999999;
  background-color: #FFF;
  box-shadow: 0 0 0 transparent !important;
  font-family: "Defoult";
  font-weight: 600;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .col .card-action_btn:hover {
  background-color: #fafafa;
  color: #212121;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .rating {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .rating form {
  display: flex;
  align-items: center;
}
.shop_wrapper .row .col .game_wrapper .card-action .row .rating form span {
  margin-right: 10px;
  font-family: Defoult;
  font-size: 16px;
  font-weight: 600;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
.library_wrapper {
  width: 100%;
  height: auto;
}
.library_wrapper .fullLibrary_wrapper {
  padding: 50px 0;
}
.library_wrapper .fullLibrary_wrapper .row {
  margin: 0;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container {
  margin: 50px 20px;
  z-index: 0;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-image {
  max-height: 100%;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-reveal {
  font-family: "Defoult";
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-reveal .card-title {
  font-size: 30px;
  font-weight: 600;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-reveal p {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-reveal p span {
  font-weight: 500;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-reveal .ageLimit {
  color: red;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-action {
  padding: 0;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-action .row {
  margin: 0;
  text-align: center;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-action .row .col {
  padding: 0;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-action .row .col .card-action_btn {
  height: 50px;
  width: 100%;
  margin: 0;
  color: #999999;
  background-color: #FFF;
  box-shadow: 0 0 0 transparent !important;
  font-family: "Defoult";
  font-weight: 600;
}
.library_wrapper .fullLibrary_wrapper .row .col .game_container .card-action .row .col .card-action_btn:hover {
  background-color: #fafafa;
  color: #212121;
}
.library_wrapper .emtyLibrary_wrapper {
  width: 100%;
  height: 100vh;
}
.library_wrapper .emtyLibrary_wrapper div {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.library_wrapper .emtyLibrary_wrapper div h1 {
  position: relative;
  top: -64px;
  margin: 25px;
  font-family: "Defoult";
  font-size: 125px;
  font-weight: 900;
}
.library_wrapper .emtyLibrary_wrapper div .toShopLink_button {
  position: relative;
  width: auto;
  height: 60px;
  top: -64px;
  margin: 25px;
  background-color: #ff8080;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  z-index: 0;
}
.library_wrapper .emtyLibrary_wrapper div .toShopLink_button:hover {
  background-color: #ff3d3d;
}

.gameEditing_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.gameEditing_wrapper .gameEditing_container {
  width: 500px;
  height: auto;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 20px;
  z-index: 0;
}
.gameEditing_wrapper .gameEditing_container h3 {
  margin: 0;
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row {
  margin: 0;
  height: 90px;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row .input-field {
  margin: 0;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row .input-field input {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row .input-field label {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row .input-field span {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .row .input-field option {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .btn {
  background-color: #ff8080;
  border-radius: 5px;
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.gameEditing_wrapper .gameEditing_container .form_wrapper form .btn:hover {
  background-color: #ff3d3d;
}

@font-face {
  font-family: Defoult;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
}
.authorization_wrapper {
  width: 100%;
  height: 100%;
  background-image: url("among-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.authorization_wrapper .authorization_blackout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.authorization_wrapper .authorization_blackout .authorization_conteiner {
  position: relative;
  width: 600px;
  height: auto;
  margin: 50px 0;
  background-color: rgba(0, 0, 0, 0.459);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .row {
  margin: 0;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .row .col {
  margin: 0;
  padding: 0;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .row .col li {
  background-color: rgba(0, 0, 0, 0.8);
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .row .col li a {
  font-family: Defoult;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .row .col .active {
  background-color: rgba(255, 255, 255, 0.25);
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn .error_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn .error_wrapper .error_text {
  font-family: Defoult;
  font-size: 18px;
  color: #ff6e6e;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row {
  margin: 0;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row .input-field {
  margin: 0;
  font-family: "Defoult";
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row .input-field input {
  color: #FFF;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row .input-field input:hover {
  cursor: default;
  background-color: #4b4b4b;
  border-radius: 10px;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row .input-field label {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #c8c8c8;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .row .input-field label:hover {
  cursor: default;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .btn_wrapper {
  display: flex;
  justify-content: center;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .btn_wrapper .btn {
  background-color: #ff8080;
  border-radius: 5px;
  font-family: "Defoult";
  font-size: 16px;
  font-weight: 600;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .signIn form .btn_wrapper .btn:hover {
  background-color: #ff3d3d;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration {
  width: 100%;
  height: 100%;
  margin: 0;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration .error_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration .error_wrapper .error_text {
  font-family: Defoult;
  font-size: 18px;
  color: #ff6e6e;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row {
  margin: 0;
  height: 90px;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row .input-field {
  margin: 0;
  font-family: "Defoult";
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row .input-field input {
  color: #FFF;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row .input-field input:hover {
  cursor: default;
  background-color: #4b4b4b;
  border-radius: 10px;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row .input-field label {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #c8c8c8;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .row .input-field label:hover {
  cursor: default;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .btn_wrapper {
  display: flex;
  justify-content: center;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .btn_wrapper .btn {
  background-color: #ff8080;
  border-radius: 5px;
  font-family: "Defoult";
  font-size: 16px;
  font-weight: 600;
}
.authorization_wrapper .authorization_blackout .authorization_conteiner .up .down .registration form .btn_wrapper .btn:hover {
  background-color: #ff3d3d;
}