<div class="authorization_wrapper">
  <div class="authorization_blackout">
    <div class="authorization_conteiner">

      <div class="up">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a href="#signIn" class="active">Sign In</a></li>
              <li class="tab col s6"><a href="#registration">Registration</a></li>
            </ul>
        </div>
      </div>
        
      <div class="down">
        <div id="signIn" class="col s6 offset-s3 signIn">

          
          {{#if signInError}}
            <div class="error_wrapper">
              <p class="error_text">{{ signInError }}</p>
            </div>
          {{/if}}

          <div class="form_wrapper">
              <form action="/signIn" method="POST">
                  <div class="row">
                      <div class="input-field">
                          <input id="signInLogin" type="text" name="login" class="validate" autocomplete="off" required>
                          <label for="signInLogin">Login</label>
                          <span class="helper-text" data-error="Enter login"></span>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field">
                          <input id="signInPassword" type="password" name="password" class="validate" data-length="8" maxlength="8" autocomplete="off" required>
                          <label for="signInPassword">Password</label>
                          <span class="helper-text" data-error="Enter password"></span>
                      </div>
                  </div>

                  <input type="hidden" name="_csrf" value="{{ csrf }}">

                  <div class="btn_wrapper">
                    <button class="btn waves-effect waves-light">Sign In</button>
                  </div>
              </form>
            </div>
        </div>
          
        <div id="registration" class="col s6 offset-s3 registration">

            {{#if regError}}
              <div class="error_wrapper">
                <p class="error_text">{{ regError }}</p>
              </div>
            {{/if}}

            <div class="form_wrapper">
              <form action="/registration" method="POST">

                  <div class="row">
                      <div class="input-field">
                          <input id="uName" type="text" name="name" class="validate" autocomplete="off" required>
                          <label for="uName">Name</label>
                          <span class="helper-text" data-error="Enter name"></span>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field">
                          <input id="surname" type="text" name="surname" class="validate" autocomplete="off" required>
                          <label for="surname">Surname</label>
                          <span class="helper-text" data-error="Enter surname"></span>
                      </div>
                  </div>
                  
                  <div class="row">
                      <div class="input-field">
                          <input id="email" type="email" name="email" class="validate" autocomplete="off" required>
                          <label for="email">E-mail</label>
                          <span class="helper-text" data-error="Enter E-mail"></span>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field">
                          <input id="regLogin" type="text" name="login" class="validate" autocomplete="off" required>
                          <label for="regLogin">Login</label>
                          <span class="helper-text" data-error="Enter login"></span>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field">
                          <input id="regPassword" type="password" name="password" class="validate" data-length="8" maxlength="8" autocomplete="off" required>
                          <label for="regPassword">Password</label>
                          <span class="helper-text" data-error="Enter password"></span>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field">
                          <input id="confirmPassword" type="password" name="confirmPassword" class="validate" data-length="8" maxlength="8" autocomplete="off" required>
                          <label for="confirmPassword">Confirm password</label>
                          <span class="helper-text" data-error="Confirm password"></span>
                      </div>
                  </div>

                  <input type="hidden" name="_csrf" value="{{ csrf }}">

                  <div class="btn_wrapper">
                    <button class="btn waves-effect waves-light">Registration</button>
                  </div>
              </form>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>