  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item red white-text" href="#one!">
      <img src="/Images/cyberpunk-2077.jpg" alt="">
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <img src="/Images/assassins-krid-valhalla.jpg" alt="">
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <img src="/Images/the-last-of-us-part-2.jpg" alt="">
    </div>
  </div>

<script>
    $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({
          fullWidth: true,
          indicators: true
          });
    });
</script>