@font-face {
    font-family: Defoult;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
}

.authorization_wrapper{
    width: 100%;
    height: 100%;

    background-image: url('among-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .authorization_blackout{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 200px 0;

        background-color:rgba(0, 0, 0, 0.60);

        .authorization_conteiner{
            position: relative;

            width: 600px;
            height: auto;

            background-color: rgba(0, 0, 0, 0.459);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
                        0 3px 1px -2px rgba(0,0,0,0.12), 
                        0 1px 5px 0 rgba(0,0,0,0.2);

            .up{
                .row{
                margin: 0;

                    .col{
                        margin: 0;
                        padding: 0;
                        
                        li{
                            background-color: rgba(0, 0, 0, 0.8);

                            a{
                                font-family: Defoult;
                                font-size: 16px;
                                font-weight: 600;
                                color: #FFF;
                            }
                        }
                        .active{
                            background-color: rgba(255, 255, 255, 0.250);
                        }
                    }
                }

                .down{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;

                    width: 100%;
                    height: auto;

                    padding: 30px;

                    .signIn{
                        width: 100%;
                        height: auto;

                        margin: 50px 0;

                        .error_wrapper{
                            width: 100%;

                            display: flex;
                            justify-content: center;

                            .error_text{
                                font-family: Defoult;
                                font-size: 18px;
                                color: rgb(255, 110, 110);
                            }
                        }

                        form{
                            .row{
                                margin: 0;
            
                                .input-field{
                                    margin:  0;
            
                                    font-family: 'Defoult';

                                    input{
                                        color: #FFF;

                                        &:hover {
                                            cursor: default;
                                            background-color: rgb(75, 75, 75);
                                            border-radius: 10px;
                                        }
                                    }
            
                                    label{
                                        font-family: -apple-system, Arial, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: rgb(200, 200, 200);

                                        &:hover {
                                            cursor: default;
                                        }
                                    }
                                }
                            }
            
                            .btn_wrapper{
                                display: flex;
                                justify-content: center;

                                .btn{
                                    background-color: #ff8080;
                                    border-radius: 5px;
                                    
                                    font-family: 'Defoult';
                                    font-size: 16px;
                                    font-weight: 600;
                    
                                    &:hover{
                                        background-color: #ff3d3d;
                                    }
                                }
                            }
                        }
                    }

                    .registration{
                        width: 100%;
                        height: 100%;

                        margin: 0;

                        .error_wrapper{
                            width: 100%;

                            display: flex;
                            justify-content: center;

                            .error_text{
                                font-family: Defoult;
                                font-size: 18px;
                                color: rgb(255, 110, 110);
                            }
                        }

                        form{
                            .row{
                                margin: 0;
                                height: 90px;
            
                                .input-field{
                                    margin:  0;
            
                                    font-family: 'Defoult';

                                    input{
                                        color: #FFF;

                                        &:hover {
                                            cursor: default;
                                            background-color: rgb(75, 75, 75);
                                            border-radius: 10px;
                                        }
                                    }
            
                                    label{
                                        font-family: -apple-system, Arial, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: rgb(200, 200, 200);

                                        &:hover {
                                            cursor: default;
                                        }
                                    }
                                }
                            }
            
                            .btn_wrapper{
                                display: flex;
                                justify-content: center;

                                .btn{
                                    background-color: #ff8080;
                                    border-radius: 5px;
                                    
                                    font-family: 'Defoult';
                                    font-size: 16px;
                                    font-weight: 600;
                    
                                    &:hover{
                                        background-color: #ff3d3d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}