body{
    header{
        .nav-wrapper{
            padding: 0 50px 0 50px;

            .menu{
                li{
                    a{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                li:hover{
                    background-color: #424242;
                }
            }

            .dropdown-content{
                li{
                    a{
                        font-size: 14px;
                    }
                }

                li:hover{
                    background-color:rgb(240, 240, 240);
                    a:hover{
                        background-color:rgb(240, 240, 240);
                    }
                }
            }
        }
    }

    .container{
       
    }

    footer{
        margin: 0 !important;
        padding-top: 20px !important;

        .container{
            margin: 20px auto 30px auto;

            .row{
                margin: 0 !important;
                padding: 0 !important;

                .left{
                    .white-text{
                        font-family: -apple-system, Arial, Helvetica, sans-serif;
                        font-size: 35px;
                        font-weight: 700;
                    }

                    .social_networks{
                        display: flex;

                        .social_link_img{
                            margin-right: 15px;
                        }
                    }
                }
                .right{
                    .white-text{
                        font-family: -apple-system, Arial, Helvetica, sans-serif;
                        font-size: 35px;
                        font-weight: 700;
                    }
                    p{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 1.25em;
                    }
                }
            }
        }
    }
}